# Ignorar build .NET
**/bin/
**/obj/

# Visual Studio
.vs/

# Rider / JetBrains
.idea/
*.DotSettings.user

# VS Code
.vscode/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp
*.bak

# Sistema operacional
.DS_Store
Thumbs.db
